POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_MASTER_PORT=5432
POSTGRES_REPLICA_PORT=5433
# DWH
POSTGRES_DWH_PORT=5434
POSTGRES_DWH_DB=dwh

# Zookeeper
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000

# Kafka
KAFKA_PORT=9092
