POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_MASTER_PORT=5432
POSTGRES_REPLICA_PORT=5433
# DWH
DWH_HOST=starrocks
DWH_PORT=9030
DWH_DB=dwh_detailed
DWH_USER=root
DWH_PASSWORD=

# Kafka
KAFKA_PORT=9092

# Debezium
DEBEZIUM_PORT=8083

# StarRocks
STARROCKS_FE_HTTP_PORT=8030
STARROCKS_FE_MYSQL_PORT=9030
STARROCKS_BE_HTTP_PORT=8040
