# OS
.DS_Store

# IDE
.vscode/
.idea/

# Environments
.env

# Python
venv/

# PostgreSQL
pgdata*/
postgres-data/
postgres-master-data/
postgres-replica-data/
starrocks-data/

# Test data
test_data/
load_test_data.sh
