services:
  postgres-master:
    container_name: postgres-master
    image: postgres:latest
    restart: unless-stopped   # Dev-version. Change to 'always' for prod
    ports:
      - "${POSTGRES_PORT}:5432"
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
    volumes:
      - postgres-master-data:/var/lib/postgresql
      - ./migrations:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - postgres-network


volumes:
  postgres-master-data:


networks:
  postgres-network:
    driver: bridge
